* {
    transition: 0.5s;
    margin: 0;
}
body {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: antiquewhite;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.arrow{
    cursor: pointer;
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
}

.content-arrow__left{
}
.content-arrow__right {

}
.content-image-box{
    display: flex;
    justify-content: space-between;
}

.image-box__item{
    display: none;
    margin: 5px;
    width: 100px;
    height: 150px;
    transition: 1s;
}
.block {
    display: block;

}
